<footer id="my-footer">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="container" style="margin-top: 15px; padding: 15px; text-align: center;">
         © 2017, All rights reserved  | Hecho en TecLaguna por Enrique I. y Jesús M. para Fundamentos de Ingeniería de Software.
      </div>
   </div>
</footer>
