<nav class="navbar navbar-default" style="background-color: #dddddd">
   <div class= "container-fluid">
      <div class="navbar-header">
         <a class="navbar-brand" href="/application/index"><p style="font-family: 'Bebas Neue'; font-size: 25px;"><b>AlmuerzaTec</b></p></a>
            </div>
            <ul class="nav navbar-nav navbar-left">
               <li><a href="/products">Armar Almuerzo</a></li>
               <li><a href="/combos">Recomendados</a></li>
               <% if user_signed_in? %>
               <li><a href="/tag_suggestions/new">Sugerir</a></li>
               <% end %>
            </ul>

            
            <ul class="nav navbar-nav navbar-right" style="float: right">
            <% if user_signed_in? %>
               <li>
                  <a href="/users/edit"><i class="fa fa-user-circle" aria-hidden="true"></i> Perfil</a>
               </li>
            <%else%>
            <li>
               <a href="/users/sign_in">Log in</a>
            </li>
            <li>
               <a href="/users/sign_up">Crear Cuenta</a>
            </li>
            <% end %>
            </ul>
   </div>
</nav>