<div class="container-fluid" id="left-sidebar">
   <!-- Sidebar Header -->
   <div class="sidebar-header">
      <h3>Categorias</h3>
   </div>
   <!-- Sidebar Links -->
   <ul class="list-unstyled components">
      <li class="list-group-item" >
         <i class="fa fa-cutlery" aria-hidden="true"></i>
           <%= link_to "Platillo Fuerte", "#", id: "platillo_fuerte"  %>
      </li>
      <li class="list-group-item">
         <i class="fa fa-coffee" aria-hidden="true"></i>
         <%= link_to "Bebidas", "#", id: "bebidas"  %>
      </li>
      <li class="list-group-item">
         <i class="fa fa-leaf" aria-hidden="true"></i>
         <%= link_to "Ensaladas", "#", id: "ensaladas"  %>
      </li>
      <li class="list-group-item">
         <i class="fa fa-th-large" aria-hidden="true"></i>
         <%= link_to "Extras", "#", id: "extras"  %>
      </li>
   </ul>
   <hr>
   <ul class="list-unstyled components">
      <li class="list-group-item">
         Presupuesto
         <p style="font-size: 6em; width: 100%; height: auto">$50</p>
      </li>
      <li class="list-group-item">
         Producto Seleccionado <br> <b>$20</b>
         <button type="button" class="btn btn-primary btn-xs" style="float: right"><i class="fa fa-times" aria-hidden="true"></i></button>
      </li>
      <li class="list-group-item">
         Producto Seleccionado <br> <b>$10</b>
         <button type="button" class="btn btn-primary btn-xs" style="float: right"><i class="fa fa-times" aria-hidden="true"></i></button>
      </li>
   </ul>
</div>

<style type="text/css">
   #left-sidebar{
      min-height: 100%;
      height: 100%;
      position: fixed;
      margin-left: -250px;
      left: 250px;
      width: 250px;
      height: 100%;

      z-index: 1000;
      transition: all 0.4s ease 0s;
   }
</style>