<head>
   <title>Arma un Almuerzo - AlmuerzaTec</title>
</head>

<body>
   <div id='wrapper' class='container-fluid'>
      <div class="row">
         <!--<div class="col-xs-12 col-sm-8 col-md-2 col-lg-2 col-xl-2" id="sidebar" role="navigation">-->
      <%= render "partials/sidebar"%>
      </div>
      <div id="page-content-wrapper" style="padding-left: 250px">
         <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 col-xl-10">
            <div class="row" style="padding-left: 1em">
               <h1><b>Platillo Fuerte</b><br/> <small>Elegir productos</small></h1>
            </div>
            <div class="row">
               <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6">
                  <h2>Heading</h2>
                  <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                     friendly HTML, CSS and Javascript.
                  </p>
                  <p><a class="btn btn-default" href="#">Agregar »</a></p>
               </div>
               <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6">
                  <h2>Heading</h2>
                  <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                     friendly HTML, CSS and Javascript.
                  </p>
                  <p><a class="btn btn-default" href="#">Agregar »</a></p>
               </div>
               <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6">
                  <h2>Heading</h2>
                  <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                     friendly HTML, CSS and Javascript.
                  </p>
                  <p><a class="btn btn-default" href="#">Agregar »</a></p>
               </div>
               <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6">
                  <h2>Heading</h2>
                  <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                     friendly HTML, CSS and Javascript.
                  </p>
                  <p><a class="btn btn-default" href="#">Agregar »</a></p>
               </div>
               <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6">
                  <h2>Heading</h2>
                  <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                     friendly HTML, CSS and Javascript.
                  </p>
                  <p><a class="btn btn-default" href="#">Agregar »</a></p>
               </div>
               <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6">
                  <h2>Heading</h2>
                  <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                     friendly HTML, CSS and Javascript.
                  </p>
                  <p><a class="btn btn-default" href="#">Agregar »</a></p>
               </div>
               <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6">
                  <h2>Heading</h2>
                  <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                     friendly HTML, CSS and Javascript.
                  </p>
                  <p><a class="btn btn-default" href="#">Agregar »</a></p>
               </div>
               <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6">
                  <h2>Heading</h2>
                  <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                     friendly HTML, CSS and Javascript.
                  </p>
                  <p><a class="btn btn-default" href="#">Agregar »</a></p>
               </div>
               <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6">
                  <h2>Heading</h2>
                  <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                     friendly HTML, CSS and Javascript.
                  </p>
                  <p><a class="btn btn-default" href="#">Agregar »</a></p>
               </div>
               <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6">
                  <h2>Heading</h2>
                  <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                     friendly HTML, CSS and Javascript.
                  </p>
                  <p><a class="btn btn-default" href="#">Agregar »</a></p>
               </div>
               <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6">
                  <h2>Heading</h2>
                  <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                     friendly HTML, CSS and Javascript.
                  </p>
                  <p><a class="btn btn-default" href="#">Agregar »</a></p>
               </div>
               <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6">
                  <h2>Heading</h2>
                  <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                     friendly HTML, CSS and Javascript.
                  </p>
                  <p><a class="btn btn-default" href="#">Agregar »</a></p>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
</body>

