<head>
   <title>Inicio - AlmuerzaTec</title>
</head>

<body style="min-height: 100%">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"" id="main_header">
      <h1 style="font-size: 150px; font-family: 'Bebas Neue';
         text-align: center; margin-top: 20px">Almuerza<b>Tec</b></h1>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"" id="main_header">
      <p style="text-align: center; font-size: 25px" >Una guía para almorzar en el Tec y sus alrededores</p>
   </div>
   <p style="text-align: center"><a class="btn btn-primary" href="/products" style="">Armar Un Almuerzo »</a></p>
   <div class="row">

   </div>

</body>

<style type="text/css">
   html, 
   body {
   min-height: 100%;
   }
   body {
   background-image: url(https://i.imgur.com/RVhBvpx.jpg);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   }
</style>