<head>
   <title>Recomendaciones - AlmuerzaTec</title>
   <script type="text/javascript">
      function recomendar(){
         var s1 = document.getElementById('square1');
         var s2 = document.getElementById('square2');
         var s3 = document.getElementById('square3');

         var rand = Math.floor((Math.random() * limit) + 1);
         console.log(String(rand)); 
      }
   </script>
</head>
<body>
   <div class="container">
   <div class="jumbotron">
      <h1>Recomendaciones</h1>
      <p>Haga clic en "Recomendar" para obtener una sugerencia de almuerzo. Las sugerencias se realizan tomando en cuenta precios, valor nutricional y disponibilidad.</p>
      <p><a class="btn btn-default" href="#" style="float:right" onclick="recomendar();">Recomendar »</a></p>
   </div>
   <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 col-xl-10">
   <div class="row" style="padding-left: 1em">
      <h1 style="margin-bottom: : 20px"><b>Resultado de sugerencia</b><br/></h1>
      <hr>
   </div>
   <div class="row" style="display: none">
      <a class="btn btn-default" href="#" style="background-color: #e07673">Añadir a Favoritos</a>
      <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6" id="square1">
         <h2>Platillo Fuerte</h2>
         <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
            friendly HTML, CSS and Javascript.
         </p>
      </div>
      <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6" id="square2">
         <h2>Bebida</h2>
         <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
            friendly HTML, CSS and Javascript.
         </p>
      </div>
      <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6" id="square3">
         <h2>Ensalada</h2>
         <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
            friendly HTML, CSS and Javascript.
         </p>
      </div>
   </div>
   <div class="row"></div>
   <div id="resultado">
      <h2>Precio Total: $0</h2>
   </div>
</body>

