<head>
   <title>Recomendaciones - AlmuerzaTec</title>
</head>
<body>
   <div class="container">
   <div class="jumbotron">
      <h1>Recomendaciones</h1>
      <p>Haga clic en "Recomendar" para obtener una sugerencia de almuerzo. Las sugerencias se realizan tomando en cuenta precios, valor nutricional y disponibilidad.</p>
      <p><a class="btn btn-default" href="#" style="float:right">Recomendar »</a></p>
   </div>
   <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 col-xl-10">
   <div class="row" style="padding-left: 1em">
      <h1 style="margin-bottom: : 20px"><b>Resultado de sugerencia</b><br/></h1>
      <a class="btn btn-default" href="#" style="background-color: #e07673">Añadir a Favoritos</a>
      <hr>
   </div>
   <div class="row">
      <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6">
         <i class="fa fa-cutlery fa-3x" aria-hidden="true" ></i>
         <h2>Platillo Fuerte</h2>
         <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
            friendly HTML, CSS and Javascript.
         </p>
      </div>
      <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6">
         <i class="fa fa-coffee fa-3x" aria-hidden="true" ></i>
         <h2>Bebida</h2>
         <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
            friendly HTML, CSS and Javascript.
         </p>
      </div>
      <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6">
         <i class="fa fa-leaf fa-3x" aria-hidden="true" ></i>
         <h2>Ensalada</h2>
         <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
            friendly HTML, CSS and Javascript.
         </p>
      </div>
   </div>
   <div class="row"></div>
   <div id="resultado">
      <h2>Precio Total: $40</h2>
      <a class="btn btn-default" href="#" style="float:right">Personalizar »</a>
   </div>
</body>

