<section id="contact">
			<div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 col-xl-10">
				<h1 class="section-header">Sugiere un producto o precio nuevo</h1>
			</div>
			<div class="contact-section">
			<div class="container">
				<form>
					<div class="col-md-12 form-line">
			  			<div class="form-group">
			  				<label for="productName">Nombre del Producto</label>
					    	<input type="text" class="form-control" id="" placeholder="(Ej: Hamburguesa con queso)" required>
				  		</div>
			  		</div>
			  		<div class="col-md-12">
			  			<div class="form-group">
			  				<label for ="description">Mensaje</label>
			  			 	<textarea  class="form-control" id="description" placeholder="(Ej: La CafetaTec ha cambiado el precio de su hamburguesa con queso a $30!)"></textarea>
			  			</div>
			  			<div>

			  				<button type="button" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar</button>
			  			</div>
			  			
					</div>
				</form>
			</div>
</section>

<!--Lógica de usuario loggeado--!>