<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
<<<<<<< HEAD
||||||| merged common ancestors
        <script type="text/javascript" src="/assets/javascripts/products.js"></script>
=======
        <!--<script type="text/javascript" src="/assets/javascripts/products.js"></script>-->
     <%= stylesheet_link_tag "/css/bootstrap.min.css" %>
>>>>>>> 2b3430fa35ec4629b996cdd1e6d181c1e17f1e74
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
      <%= render "partials/nav"%>
      <%= yield %>
   </body>
         <%= render "partials/foot"%>  

</html>

